.form-inline {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form__item {
  margin-bottom: 0!important;
}
.opgroup {
  display: flex;
  height: 30px;
  line-height: 30px;
  background: #f9f9f9;
}
.opgroup__item {
  height: 100%;
  cursor: pointer;
}
.opbuttons {
  display: flex;
  padding: 10px;
  background: #f9f9f9;
}
.opbutton {
  margin-right: 10px;
}
.createPanel {
  flex-grow: 3;
  padding-right: 10px;
}
.tbcontainer {
  padding: 15px 10px;
  background: #f0f0f0;
}
.table {
  width: 100%;
  table {
    width: 100%!important;
  }
}
