.form-inline {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form__item {
  margin-bottom: 0!important;
}
.form__item-button {
  margin-left: -60px;
  .filter__button {
    background: #66b8ef!important;
    border-color: #66b8ef!important;
  }
}
.opgroup {
  display: flex;
  height: 40px;
  padding: 10px 0;
  background: #f9f9f9;
}
.opgroup__item {
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.opbuttons {
  display: flex;
  padding: 10px;
  background: #f9f9f9;
}
.opbutton {
  margin-right: 10px;
}
.createPanel {
  flex-grow: 1;
  padding-right: 10px;
  overflow: hidden;
}
.tbcontainer {
  flex: 1;
  padding: 15px 10px;
  // background: #f0f0f0;
  background: #f9f9f9;
}
.table {
  width: 100%;
  table {
    width: 100%!important;
  }
}
.table__button {
  background: #66b8ef!important;
  border-color: #66b8ef!important;
}
.setting {
  min-width: 300px;
}
.radiogroup {
  .radiogroup__radio {
    display: inline-block!important;
  }
  .radiopicker {
    display: flex;
    .radiopicker__datecontainer {
      display: flex;
      flex-direction: column;
      .radiopicker__datecontainer-picker {
        padding-bottom: 5px;
      }
    }
    .radiopicker__datepicker {
      padding-right: 5px;
    }
  }
  .radiopicker-vertical {
    align-items: center;
  }
  .radioselect {
    display: flex;
    align-items: center;
    .radioselect__type {
      min-width: 60px;
    }
  }
}
.tree {
  padding-left: 5px;
  // max-height: 200px;
  // overflow: scroll;
}
.ivu-tree-children .ivu-tree-children {
  max-height: 380px!important;
  overflow: auto;
}
